@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font: normal 18px 'Open Sans', sans-serif;
  background: #fafafa;
  color: #333;
}

main {
  min-height: 100vh;
}

header {
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font: normal 4em 'Playfair Display SC', serif;
  text-align: center;
}

nav {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}

nav a {
  flex-grow: 1;
  text-align: center;
  padding: 1em;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
  background: #333;
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

nav a:hover::after {
  transform: scaleX(1)
}

form {
  text-align: center;
}

input {
  width: 90%;
  padding: 5px;
  margin: 10px;
}

.registration,
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 10px;
  z-index: 1;
  box-shadow: 1px 2px 12px black;
  display: none;
  background: white;
}

.visible {
  display: block;
}

.order-block {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.socksList {
  width: 90%;
  margin: 0 auto;
}

li {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.destroy {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  background: red;
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.destroy:hover {
  transform: scale(0.8);
}

.basket-controls {
  width: 15%;
  margin: 5px auto;
}

.btnBuy {
  cursor: pointer;
  width: 100%;
  height: 40px;
  background: black;
  color: white;
  border: none;
}

.btnBuy:hover {
  transform: scale(0.95);
  filter: brightness(0.9);
}

.basket {
  position: relative;
  z-index: 0;
}

.sock-title {
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  background: white;
  outline: none;
}

.modal-pay {
  display: none;
  width: 50%;
  height: 500px;
  border: 1px solid black;
  position: absolute;
  right: 25%;
  z-index: 1;
  background: white;
}

.visible-pay {
  display: block;
}

.counter {
  border: 1px solid black;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.accumulator {
  width: 5%;
  text-align: center;
}

.plus,
.minus {
  cursor: pointer;
  width: 30px;
  background: green;
  color: white;
  text-align: center;
}

.minus {
  background: red;
}

.controls {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.total-price {
  width: 100%;
  text-align: center;
}

.needRegister {
  width: 40%;
  height: 280px;
  background: black;
  color: white;
  font-size: 2.7rem;
  text-align: center;
  margin: 40px auto;
  transform: rotate(25deg);
  padding: 5px;
}

.greetingsModal {
  position: absolute;
  border: 1px solid black;
  width: 20%;
  height: 150px;
  left: 15%;
  top: 20%
}

.findArr {
  position: relative;
  width: 300px;
  height: 300px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wrapper-favorite {
  border: 5px solid black;
  width: 200px !important;
}